.App {
  font-family: sans-serif;
  text-align: center;
}
.inputTodoArea {
  background-color: antiquewhite;
  height: 50px;
  display: flex;
  align-items: center;
}
.inputTodoArea * {
  height: 50%;
}
.incompleteTodoArea {
  background-color: aqua;
  height: 200px;
}
.completeArea {
  background-color: aquamarine;
  height: 200px;
}
.todoList {
  display: flex;
  margin: 5px 5px;
}
input {
  margin-left: 5px;
  border-radius: 30px;
  outline: 0px;
  border: 0px;
}
button {
  margin-left: 5px;
  border-radius: 30px;
  outline: none;
  border: 0px;
}
button:hover {
  background-color: yellow;
  color: blue;
  cursor: pointer;
}
p {
  text-align: center;
  color: gray;
}
